<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>
        <%= article.title %>
    </title>
</head>

<body>

    <h1>
        <%= article.title %>
    </h1>
    <p>
        <%= article.content %>
    </p>
    <p>
        <%= article.date %>
    </p>
    <br>
    <ul class="comment-list">
        <% for (const comment of article.comments) { %>
            <li class="article-comment">
                <%= comment %>
            </li>
        <% } %>
    </ul>
    <br>
    <p>new comment</p>
    <textarea class="input-comment"></textarea>
    <button class="send-button" data-id="<%= article._id %>">送信</button>
    <script src="/static/detail.js" defer></script>
    <a href="/">戻る</a>

</body>

</html>